* {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 13%;
    height: 953px;
}

.items-menu{
    margin: 1rem;
    border: 2px solid;
    width: 100%;
    height: 2%;
}

.main{
    background-color: green;
    width: 100%;
}

