<router-outlet />

    <div ng-app>
      
    </div>

    <div class="contenedorPrincipal container bg-warning-subtle border border-5 border-dark-subtle rounded-4">
      <div class="contenedorContenido">
        <h1 id="titulo">Lista</h1>
        
        <form class="formulario input-content form">
          <input class="inputs mb-2 rounded-3" id="tarea" type="text" placeholder="Tarea" /> <br />
          <input class="inputs mb-2 rounded-3" id="hora" type="time" placeholder="Hora" size="10" /> <br />
        

        <div class="content-botones">
        <button class="btn btn-dark text-color-ligth rounded-3" id="añadir" name="añadir" onclick="Añadir()">Añadir</button>
        </div>
        </form>

        <hr />

        <div  id="container">
          @for (elemento of elementos(); track $index) {
            @if(!elemento.check){

              <div class="Tcontent">
              <form>
                
                <t-task [item]="elemento" (eliminar)="Eliminar($event)" (completar)="Comprobar($event)" />
              
              </form> 
              </div>
              <hr>

            }
            
          }
        </div>

        <h1>Completados</h1>
        <div id="container2">

          @for (elemento of elementos(); track $index) {
            @if(elemento.check){

              <div class="Tcontent">
              <t-task [item]="elemento" (eliminar)="Eliminar($event)" (completar)="Comprobar($event)" />
              </div>
              <hr>

            }
          }

        </div>
      </div>
    </div>
  
  <script src="lista.js"></script>
