.Tcontent *{
    margin-left: 10px;
}
.Tcontent{
    margin-top: px;
    margin-top: 30px;
   
}

p{
    font-size: 20px;
}

#titulo{
    text-align: center;
    margin-top: 5px;
}

.inputs{
    height: 40px
    
}

